<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVliQA0XYTxCL1BjD54MB1Gskm3W7VTec</string>
	<key>GCM_SENDER_ID</key>
	<string>804358231949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tramkien.hau</string>
	<key>PROJECT_ID</key>
	<string>tramkien-c99cf</string>
	<key>STORAGE_BUCKET</key>
	<string>tramkien-c99cf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804358231949:ios:e04b4eefe15e4747504fc4</string>
</dict>
</plist>
